
<ol class="breadcrumb">
  <li class="breadcrumb-item active">About</li>
</ol>
<div class="row">
	<div class="card" style="width: 20rem;">
	  <img class="card-img-top" height="430px" src="assets/duong.jpg">
	  <div class="card-body">
	    <h4 class="card-title">Nguyễn Việt Dương</h4>
	    <p class="card-text">I'm a 4th year student, coding android and java</p>
	<input type="button" class="btn btn-info" value="See facebook" onclick=" relocate_home1()">
	  </div>
	</div>

	<div class="card" style="width: 20rem;">
	  <img class="card-img-top" height="438px" src="assets/hoanganh.png">
	  <div class="card-body">
	    <h4 class="card-title">Nguyễn Hoàng anh</h4>
	    <p class="card-text">I'm a FA boy</p>
	<input type="button" class="btn btn-info" value="See facebook" onclick=" relocate_home2()">
	  </div>
	</div>
</div>


<script>
function relocate_home1()
{
     location.href = "https://www.facebook.com/profile.php?id=100008017518012";

} 

function relocate_home2()
{
     location.href = "https://www.facebook.com/nguyenhoanganhus";
} 
</script>